{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 py-5 bg-dark text-center text-light">
                <h1>This Is About Page</h1>
        </div>
    </div>
</div>
{% endblock%}