{% extends 'dashboard_base.html' %}
{% load bootstrap4 %}
{% block dashboard %}
<div class="container-fluid p-0">
    <div class="row">
        {% if user.is_staff %}
            <div class="col-md-6 mx-auto bg-light my-5 p-4">
                <h1 class="text-center mb-5">Add Products</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    <input type="submit" class="btn btn-primary" value="Add Product">
                </form>
            </div>
        {% else %}
            <div class="col-md-6 mx-auto bg-light my-5 p-4">
                <h1 class="text-center mb-5">Customer Has No Permission to Access This Page</h1>
                </form>
            </div>
        {% endif %}
    </div>
</div>
{% if mess %}
<script>
    alert("{{mess}}");
    window.location="/my_products"
</script>
{% endif %}
{% endblock %}