{% extends 'base.html' %}

{% block content %}
<style>
    .hover:hover{
        box-shadow: 0px 0px 10px black;
    }
    .link{
        color: black;
    }
    .link:hover{
        color: blue;
    }
</style>
<div class="container-fluid p-0">
    <div class="row py-2 bg-dark">
        <div class="col-md-12 py-5 bg-dark text-light">
            {% if abcd %}
                <h4 class="text-center">Total {{count}} Result Matched</h4>
            {% else %}
                <h4 class="text-center">All Products ({{count}})</h4>
            {% endif %}
        </div>
    </div>
    <div class="row py-4">
        {% for p in products %}
        {% if p.delete %}
        {% else %}
        <div class="col-md-4 p-3">
            <div class="p-2 hover" style="border: 1px solid gray;">
                <img src="/media/{{p.product_image}}" height="250px" width="100%" class="img-fluid">
                <a href="{% url 'product_details' %}?pid={{p.id}}"><h4 class="link mt-3">{{p.product_name}}</h4></a>
                <p><strong style="font-size: 20px;">&#8377 {{p.sale_price}}</strong>&nbsp&nbsp<del>&#8377 {{p.product_price}}</del></p>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        
                    {% else %}
                        <form action="{% url 'mycart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{p.id}}" name="pid">
                            <input type="hidden" value="1" name="quantity">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fa fa-shopping-cart"></i>
                                Add To Cart
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}