<!DOCTYPE html>
{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

    <style>
        .dropdown-item{
            color: rgba(255,255,255,.5);
        }
        .dropdown-item:hover{
            background: none;color:rgba(255, 255, 255, 0.753);
        }
        .btn{
            box-shadow: none!important;
        }
        .close:active, .close:focus{
            border-top-color:none!important ; box-sizing: unset!important;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
                    <a href="" class="navbar-brand">My Website</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form action="{% url 'all_products' %}">
                                <div class="mr-2" style="margin-top:0px;">
                                    <input type="text" name="search" class="form-control px-3" style="border-radius: 20px; border:none; width:250px; height:34px" placeholder="Search or type product">
                                </div>
                            </form>
                        </li>
                    </ul>
                    <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="/" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'about' %}" class="nav-link">About</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'all_products' %}" class="nav-link">All Products</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                                <div class="dropdown-menu bg-primary mb-3">
                                    {% for c in category %}
                                    <a href="{% url 'all_products' %}?cat={{c.id}}" class="dropdown-item">{{c.cat_name}}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <div>
                            {% if user.is_authenticated %}
                                <div style="margin-left: -14px;">
                                    <a href="{% url 'dashboard' %}" class="nav-link text-light">Welcome {{user.username}}</a>
                                </div>
                            {% else %}
                                <a href="{% url 'register' %}" class="btn btn-outline-light mr-1">Sign Up</a>
                                <a href="" class="btn btn-outline-light" data-toggle="modal" data-target="#mymodal">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
       
        {% block content %}

        {% endblock%}


        <div class="row p-5 bg-primary text-light">
            <div class="col-md-4" style="border-right: 2px solid white; border-left: 2px solid white;">
                <h4>Roudram Ranam Rudhiram</h4>
                <p>A fictitious story about two legendary revolutionaries and their journey away from home before they started fighting for their country in 1920's.</p>
            </div>
            <div class="col-md-4" style="border-right: 2px solid white;">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
            <div class="col-md-4" style="border-right: 2px solid white;">
                <ul>
                    <li>Link 1</li>
                    <li>Link 2</li>
                    <li>Link 3</li>
                </ul>
            </div>
        </div>
        <div class="col-md-12 p-0">
            <div class="modal fade" id="mymodal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 style="text-decoration: underline;">Login</h4>
                            <div class="close" data-dismiss="modal">&times;</div>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'user_login'%}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Username</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-user" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" name="username" placeholder="Enter Username">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-key"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" name="password" placeholder="Enter Password">
                                    </div>
                                </div>
                                <a href="{% url 'forgot_password' %}">Forgot Password?</a>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-success mt-4" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if status %}
        <script>
            alert("{{status}}");
            window.location="/"
        </script>
    {% endif %}
</body>
</html>