{% extends 'dashboard_base.html' %}

{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 mx-auto bg-light my-5 p-4">
            <h1 class="text-center">Get Your Password</h1>
            <hr>
            <form method="post">
                {% csrf_token %}
                {% if msg %}
                <div class="alert {{color}}">{{msg}}</div>
                {% endif %}
                <div class="form-group">
                    <label>Current Password</label>
                    <input type="password" class="form-control" name="currentpassword" placeholder="Enter Current Password" required>
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" class="form-control" name="newpassword" placeholder="Enter New Password" id="npwd" onkeyup="check_password()" required>
                </div>
                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" class="form-control" placeholder="Enter Confirm New Password" id="cpwd" onkeyup="check_password()" required>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-warning" value="Change Password" id="subbtn">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function check_password(){
        let np = $("#npwd").val();
        let cp = $("#cpwd").val();

        if (np == cp){
            $("#npwd").css("border","2px solid green");
            $("#cpwd").css("border","2px solid green");
            $("#subbtn").removeAttr("disabled");
        }else{
            $("#npwd").css("border","2px solid red");
            $("#cpwd").css("border","2px solid red");
            $("#subbtn").attr("disabled","disabled");
            
        }
        
    }
</script>
{% endblock %}