{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 py-5 text-center text-light bg-dark">
                <h1>This Is Contact Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 py-3">
            <img src="{% static 'images/nat.jpg' %}" height="100%" width="100%">
        </div>
        <div class="col-md-6 py-3">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Full Name" required>
                </div>
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" required>
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="subject" placeholder="Enter Subject" required>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" rows="5" name="message" placeholder="Enter Message" ></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Send Message">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Previous Feedbacks</h1>
            <h4 class="text-center"><em>Total :{{messages|length}}</em></h4>
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead thead-dark">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                    <tr>
                        <td>{{msg.id}}</td>
                        <td>{{msg.name}}</td>
                        <td>{{msg.contact_number}}</td>
                        <td>{{msg.subject}}</td>
                        <td>{{msg.message}}</td>
                        <td>{{msg.added_on}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if status %}
    <script>
        alert("{{status}}");
        window,location="contactpage"
    </script>
{% endif %}
{% endblock%}