{% extends 'dashboard_base.html' %}

{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto py-5 px-0">
            <div class="card">
                <div class="card-header">
                    <h1>My Profile</h1>
                </div>
                <div class="card-body p-1">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>User Id</th>
                                    <td>{{user.id}}</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <th>Full Name</th>
                                    <td>{{user.first_name}} {{user.last_name}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <th>Contact Number</th>
                                    <td>{{data.contact_number}}</td>
                                </tr>
                                <tr>
                                    <th>Last Login</th>
                                    <td>{{user.last_login}}</td>
                                </tr>
                                <tr>
                                    <th>Date Joined</th>
                                    <td>{{user.date_joined}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}