{% extends "dashboard_base.html" %}
{% block dashboard %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-3">
            {% for i in products %}
                <div class="card bg-light mt-3 px-3">
                    <div class="row">
                        <div class="col-md-3 p-3 text-center" style="width: 100%;">
                            <img src="/media/{{i.product_image}}" height="200px" width="240px" class="img-fluid">
                        </div>
                        <div class="col-md-8">
                            <div class="row p-3">
                                <div class="col-md-12">
                                    <h5>{{i.product_name}}</h5>
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-md-4">
                                    <h5><strong>&#8377; {{i.sale_price}}</strong> <i class="text-success">({{i.discount}}%)</i></h5>
                                    <strong><del>&#8377; {{i.product_price}}</del></strong><br>
                                    <b style="font-size:14px;">Quantity : {{i.quantity}}</b>
                                </div>
                                <div class="col-md-8 pt-2">
                                    <b style="font-size:14px;color:gray">Order Id : {{i.order_id}}</b><br>
                                    <b style="font-size:14px;color:gray">Invoice : {{i.invoice}}</b><br>
                                    <b style="font-size:14px;color:gray">Processed On : {{i.date}}</b>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}