{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-2 bg-dark py-2">
                <nav class="navbar navbar-dark">
                    <div class="navbar-brand" style="font-size:30px;">Dashboard</div> 
                    <div class="" style="margin-top: 50px;">
                        {% if data.profile_picture %}
                            <img src="/media/{{data.profile_picture}}" style="height:75px; width:75px; border-radius:50%; border:2px solid black" class="img-fluid">
                            <p class="text-light">{{user.username}}</p>
                        {% else %}
                            {% if data.gender == "Male"%}
                                <img src="{% static 'images/profile.jpg' %}" style="height:75px; width:75px; border-radius:50%; border:2px solid black">
                                <p class="text-light">{{user.username}}</p>
                            {% else %}
                                <img src="{% static 'images/female.jpg' %}" style="height:75px; width:75px; border-radius:50%; border:2px solid black">
                                <p class="text-light">{{user.username}}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'dashboard' %}" class="nav-link">View Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'edit_profile' %}" class="nav-link">Edit Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'change_password' %}" class="nav-link">Change Password</a>
                        </li>
                        {% if user.is_staff %}
                            <li class="nav-item">
                                <a href="{% url 'add_product' %}" class="nav-link">Add Products</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'my_products' %}" class="nav-link">My Products</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'my_customers' %}" class="nav-link">My Customers</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'send_mail' %}" class="nav-link">Send Mail</a>
                            </li>
                        {% endif %}
                        {% if not user.is_staff %}
                            <li class="nav-item">
                                <a href="{% url 'mycart' %}" class="nav-link">My Cart</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'order_history' %}" class="nav-link">My Orders</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-10">
                {% block dashboard %}

                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}