{% extends 'dashboard_base.html' %}
{% load static %}

{% block dashboard %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 py-1 bg-secondary text-center text-light">
            <h1>Dashboard &gt; Edit Profile</h1>
        </div>
        <div class="col-md-6 mx-auto py-5">
            <div class="text-center">
                {% if data.profile_picture %}
                <img src="/media/{{data.profile_picture}}" style="height:150px; width:150px; border-radius:50%; margin-bottom:20px; border:2px solid black">
                {% else %}
                    {% if data.gender == "Male"%}
                        <img src="{% static 'images/profile.jpg' %}" style="height:150px; width:150px; border-radius:50%; border:2px solid black">
                        <p class="text-light">{{user.username}}</p>
                    {% else %}
                        <img src="{% static 'images/female.jpg' %}" style="height:150px; width:150px; border-radius:50%; border:2px solid black">
                        <p class="text-light">{{user.username}}</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="card p-4 bg-light">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token%}
                    {% if statu %}
                        <div class="alert alert-success text-center">{{statu}}</div>
                    {% endif %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="fname" placeholder="Enter First Name" value="{{user.first_name}}">
                            </div>
                            <div class="col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lname" placeholder="Enter Last Name" value="{{user.last_name}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                                <input type="email" class="form-control" name="email" placeholder="Enter Email" value="{{user.email}}">
                            </div>
                            <div class="col-md-6">
                                <label>Profile Picture</label>
                                <input type="file" class="form-control" name="profile">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Contact Number</label>
                                <input type="text" class="form-control" name="contact" placeholder="Enter Contact Number" pattern="[0-9]{10}" title="Number must contain 10 digits only" value="{{data.contact_number}}">
                            </div>
                            <div class="col-md-6">
                                <label>Age</label>
                                <input type="number" class="form-control" name="age" placeholder="Enter Age" min="15" max="99" value="{{data.age}}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" placeholder="Enter City" value="{{data.city}}">
                            </div>
                            <div class="col-md-6">
                                <label>Gender</label>
                                <select class="form-control" name="gender">
                                    <option value="Male">Male</option>
                                    {% if data.gender == "Female" %}
                                    <option value="Female" selected>Female</option>
                                    {% else %}
                                    <option value="Female">Female</option>
                                    {% endif %}

                                    {% if data.gender == "Others" %}
                                    <option value="Others" selected>Others</option>
                                    {% else %}
                                    <option value="Others">Others</option>
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Occupation</label>
                        <input type="text" class="form-control" name="occupation" placeholder="Enter Occupation" value="{{data.occupation}}"> 
                    </div>
                    <div class="form-group">
                        <label>About</label>
                        <textarea class="form-control" name="about" placeholder="About Yourself">{{data.about}}</textarea>
                    </div>
                    <div class="form-group py-2">
                        <input type="submit" value="Save Changes" class="btn btn-primary" style="width: 50%; border-radius:20px">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}