{% extends 'base.html' %}

{% block head %}
<style>
    .spinner{
        height: 50px; width: 50px; border: 6px solid rgba(80, 80, 80, 0.213); border-bottom: 6px solid rgba(0, 0, 0, 0.303);border-radius: 50%;
        animation: ani 1s linear infinite;margin: auto;
    }
    @keyframes ani{
        from{transform:rotate(0deg)}
        to{transform:rotate(360deg)}
    }
</style>
{% endblock%}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="my-5 p-5" style="box-shadow: 0px 0px 10px black;">
                <h2>Reset Your Password</h2>
                <hr>
                <div class="text-center" id="result"></div>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group" id="user">
                        <label>Enter Your Username</label>
                        <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username Here...">
                    </div>
                    <button type="button" class="btn btn-warning" onclick="check_user()" id="aftersent">Click To Continue</button>

                    <div class="form-group mt-2" style="display: none;" id="afterotp">
                        <label>Enter OTP</label>
                        <input type="number" class="form-control" id="userotp" placeholder="Enter OTP Here...">
                        <button type="button" onclick="check_otp()" class="btn btn-info mt-3">Verify OTP</button>
                        <button type="button" onclick="check_user()" id="#resend" class="btn btn-warning mt-3 ml-2">Resend OTP</button>
                    </div>

                    <div class="form-group mt-2" style="display: none;" id="setpassword">
                        <label>Enter New Password</label>
                        <input type="text" class="form-control" id="np" name="newpassword" onkeyup="check_password()" placeholder="Enter New Password Here..." required>
                        <label class="mt-3">Confirm New Password</label>
                        <input type="text" class="form-control" id="cp" onkeyup="check_password()" placeholder="Confirm New Password" required>
                        <button type="submit" id="btn" class="btn btn-success mt-3">Change Password</button>
                    </div>

                    <div class="mt-4" style="margin-bottom:-15px; display: none;" id="spinner">
                        <div class="spinner"></div>
                    </div>
                    
                    <input type="hidden" id="realotp">
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function check_user(){
        $("#spinner").show()
        let username = $("#username").val()
        $.ajax({
            url : "{% url 'reset_password' %}",
            type : "get",
            data : {username:username},
            success:function(data){
                $("#spinner").hide()
                if(data.result=="faild"){
                    $("#result").html("<p class='alert alert-danger'>No user registered with this username</p>");
                }else if(data.result=="sent"){
                    $("#result").html("<p class='alert alert-success'>An OTP sent to your registered Email Id: "+data.email+"</p>");
                    $("#user").hide();
                    $("#aftersent").hide();
                    $("#afterotp").slideDown(1000);
                    $("#realotp").val(data.realotp);
                    
                }else if(data.result=="error"){
                    $("#result").html("<p class='alert alert-danger'>Could not send email to "+data.email+" Some thing went wrong</p>");
                }
                
            }
        })
    }

    function check_otp(){
        uotp = $("#userotp").val();
        rotp = $("#realotp").val();
        if(uotp == rotp){
            $("#result").html("<p class='alert alert-success'>Validation Success</p>");
            $("#afterotp").hide();
            $("#setpassword").fadeIn(1000);
        }else{
            $("#result").html("<p class='alert alert-danger'>Incorrect OTP</p>");
        }
    }

    function check_password(){
        np = $("#np").val();
        cp = $("#cp").val();
        if (np == cp){
            $("#np").css("border","2px solid green");
            $("#cp").css("border","2px solid green");
            $("#btn").removeAttr("disabled");
        }else{
            $("#np").css("border","2px solid red");
            $("#cp").css("border","2px solid red");
            $("#btn").attr("disabled","disabled");
        }
    }
</script>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location = "/"
</script>
{% endif %}
{% endblock %}