{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .myimg{
        height:300px;
    }
    .box:hover{
        background: rgba(0,0,0,0.7);color: white;
    }
    .cat{
        opacity: 0;padding-top:10px;height: 100%;
    }
    .cat:hover{
        opacity: 1;
    }
</style>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 py-5 bg-dark text-center text-light">
                <h1>This Is Home Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 py-2">
            <h2 class="text-center">Our Categories ({{category|length}})</h2>
        </div>
        {% for c in category %}
        <div class="col-md-4 p-4">
            <div class="myimg" style="box-shadow: 0px 0px 20px black; background:url(media/{{c.cover_pic}}); background-size: 100% 100%">
                <div class="box" style="height: 100%; width: 100%">
                    <div class="cat">
                        <h2 class="text-center">{{c.cat_name}}</h2>
                        <p class="px-5 text-justify">{{c.description}}</p>
                    </div>
                </div>
            </div>
            <h2 class="text-center py-3">{{c.cat_name}}</h2>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Recent Feedbacks</h1>
            <table class="table table-bordered table-striped table-primary table-hover">
                <thead class="thead thead-dark">
                    <tr class="text-center">
                        <th>Id</th>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Subject</th>
                        <th>Message</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for msg in messages %}
                    <tr>
                        <td>{{msg.id}}</td>
                        <td>{{msg.name}}</td>
                        <td>{{msg.contact_number}}</td>
                        <td>{{msg.subject}}</td>
                        <td>{{msg.message}}</td>
                        <td>{{msg.added_on}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}