{% extends "dashboard_base.html" %}
{% load static %}

{% block head %}
<style>
    .hover:hover{
        box-shadow: 0px 0px 10px gray;
    }
</style>


{% endblock %}

{% block dashboard %}
{% if user.is_superuser %}
    <div class="container-fluid p-0">
        <div class="row py-2 bg-dark">
            <div class="col-md-12 py-5 bg-dark text-light">
                <h4 class="text-center">Sorry Mr/Mrs. {{user.username}} You Are Not Allowed In This Page</h4>
            </div>
        </div>
    </div>
{% else %}
    {% if user.is_staff %}
    <div class="container-fluid p-0">
        <div class="row py-2 bg-dark">
            <div class="col-md-12 py-5 bg-dark text-light">
                <h3 class="text-center">My Customers ({{all_customers|length}})</h3>
                <h5 class="text-center">Total Orders ({{total}})</h5>
            </div>
        </div>
        <div class="row">
            {% for i in all_customers %}
            <div class="col-md-4 py-4 px-4">
                <div class="card hover">
                    <div class="card-header text-center">
                        {% if i.profile_picture%}
                            <img src="/media/{{i.profile_picture}}" height="200px" width="200px">
                        {% else %}
                            {% if i.gender == "Male" %}
                                <img src="{% static 'images/profile.jpg' %}" height="200px" width="200px">
                            {% else %}
                                <img src="{% static 'images/female.jpg' %}" height="200px" width="200px">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 style="font-size: 15px;text-align:center;" >{{i.first_name}} {{i.last_name}}</h5><hr>
                        <p><i class="fa fa-user"> {{i.username}}</i></p>
                        <p><i class="fa fa-phone"> {{i.contact}}</i></p>
                        <p><em><i class="fa fa-envelope"> {{i.email}}</i></em></p>
                        <small>Date Joined : {{i.joined}}</small>
                        <a href="{% url 'customer_details' %}?uid={{i.id}}" class="btn btn-info btn-block mt-3">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endif %}

{% endblock %}