{% extends 'dashboard_base.html' %}
{% block dashboard %}
<style>
    .block{
        width: 27%;
    }
</style>
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 p-1 my-2">
            <h2 class="alert alert-success text-center mx-2">My Products ({{products|length}})</h2>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead thead-dark text-center">
                        <tr>
                            <th>Product Id</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Product Seller</th>
                            <th>Product Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in products %}
                        <tr>
                            <td>{{p.id}}</td>
                            <td class="block">{{p.product_name}}</td>
                            <td class="text-center"><img src="/media/{{p.product_image}}" height="100px" width="120px"></td>
                            <td>{{p.seller.first_name}}</td>
                            <td class=" block text-center" style="padding-top: 35px;">
                                <button class="btn btn-success mr-1 my-2" data-toggle="modal" data-target="#m{{p.id}}"><i class="fa fa-eye"> View</i></button>
                                <a href="{% url 'update_product' %}?pid={{p.id}}" class="btn btn-primary mr-1 my-2"><i class="fa fa-edit"> Edit</i></a>
                                <a href="" class="btn btn-danger my-2" data-toggle="modal" data-target="#d{{p.id}}"><i class="fa fa-trash"> Delete</i></a>
                            </td>
                        </tr>
                        <div class="modal fade" id="m{{p.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>My Product</h4>
                                        <div class="close" data-dismiss="modal">&times;</div>
                                    </div>
                                    <div class="modal-body">
                                        <img src="/media/{{p.product_image}}" height="300px" width="100%" class="img-fluid">
                                        <h3 class="mt-3">{{p.product_name}}</h3>
                                        <p>({{p.product_category}})</p>
                                        <p class="mt-2" style="font-size: 20px;"><strong>&#8377 {{p.sale_price}}</strong> &nbsp <small><del>&#8377 {{p.product_price}}</del></small></p>
                                        Details : {{p.details}}
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'product_details' %}?pid={{p.id}}" class="btn btn-success">View Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="d{{p.id}}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="close" data-dismiss="modal">&times;</div>
                                    </div>
                                    <div class="modal-body p-4">
                                        <h5 class="text-danger py-2">Are you sure want to delete?</h5>
                                        <img src="/media/{{p.product_image}}" height="200" width="249px">
                                        <h5 class="py-2 mb-5">{{p.product_name}}</h5>
                                        <a href="{% url 'delete_product' %}?pid={{p.id}}&&action=confirm" class="btn btn-danger">Confirm Delete</a>
                                        <a href="{% url 'my_products' %}" class="btn btn-warning ml-3" data-dismiss="modal">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="/my_products"
</script>
{% endif %}
{% endblock %}