{% extends "base.html" %}
{% block content %}

{% if user.is_superuser %}
    <div class="container-fluid p-0">
        <div class="row py-2 bg-dark">
            <div class="col-md-12 py-5 bg-dark text-light">
                <h4 class="text-center">Sorry Mr/Mrs. {{user.username}} You Are Not Allowed In This Page</h4>
            </div>
        </div>
    </div>
{% else %}
    {% if user.is_authenticated %}
        {% if user.is_staff %}
            <div class="container-fluid p-0">
                <div class="row py-2 bg-dark">
                    <div class="col-md-12 py-5 bg-dark text-light">
                        <h4 class="text-center">Sorry Mr/Mrs. {{user.username}} You Are Not Allowed In This Page</h4>
                    </div>
                </div>
            </div>
        {% else %}
            {% if items|length == 0 %}
                <div class="container-fluid">
                    <div class="alert alert-danger my-4">
                        <h4 class="text-center">&times; Your Shopping Cart is Empty!</h4>
                    </div>
                </div>

            {% else %}
                <div class="container-fluid p-0">
                    <div class="row py-2 bg-dark">
                        <div class="col-md-12 py-5 bg-dark text-light">
                            {% if sts %}
                                <h4 class="text-center">{{sts}}</h4>
                            {% else %}
                                <h4 class="text-center">My Cart ({{items|length}})</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 mx-4 my-5 pt-3" style="box-shadow: 0px 0px 20px gray;">
                            {% if mess %}
                                <div class="alert {{color}}">{{mess}}</div>
                            {% endif %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product Image</th>
                                        <th>Product Name</th>
                                        <th>Product Price</th>
                                        <th>Quantity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in items %}
                                    <tr id="row{{i.id}}">
                                        <td style="width: 18%;"><img src="/media/{{i.product.product_image}}" height="100px" width="120px"></td>
                                        <td style="width: 30%;">{{i.product.product_name}}</td>
                                        <td style="width: 15%;"><del>&#8377; {{i.product.product_price}}</del><br>&#8377; {{i.product.sale_price}}</td>

                                        <td>
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <i class="fa fa-minus btn p-1 btn-danger mt-1" id="minus" onclick="change_quantity('{{i.id}}','minus')"></i>
                                                </div>
                                                <div class="col-md-5">
                                                    <input type="text" id="cart{{i.id}}" value="{{i.quantity}}" class="form-control text-center mx-1" readonly style="background-color: white;padding-left:0px;padding-right:0px"> 
                                                </div>
                                                <div class="col-md-2">
                                                    <i class="fa fa-plus btn p-1 btn-success mt-1" id="plus" style="margin-left: -10px;" onclick="change_quantity('{{i.id}}','plus')"></i>
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width: 17%;">
                                            <button onclick="remove_cartproduct('{{i.id}}')" class="btn btn-danger">&times; Remove</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-3 mx-4 my-5 p-0">
                            <div class="px-2 pt-3" style="box-shadow: 0px 0px 20px gray;">
                                <h4 class="text-center">Checkout</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th>Items Total</th>
                                        <td id="items_total"></td>
                                    </tr>
                                    <tr>
                                        <th>Offered Price</th>
                                        <td id="offered_price"></td>
                                    </tr>
                                    <tr>
                                        <th>Quantity</th>
                                        <td id="quantity"></td>
                                    </tr>
                                    <tr>
                                        <th>You Saved</th>
                                        <td id="saved"></td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td>Free</td>
                                    </tr>
                                    <tr>
                                        <th>Grand Total</th>
                                        <td id="grand_total"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pb-3">
                                <form action="{% url 'process_payment' %}">
                                    <button type="submit" class="btn btn-success btn-block btn-sm">Proceed To Pay<span id="btnprice"></span></button>
                                </form>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    function cart_details(){
                        $.ajax({
                            url:"{% url 'cart_details' %}",
                            type:"get",
                            success:function(data){
                                $("#items_total").html("&#8377; "+data.pprice);
                                $("#offered_price").html("&#8377; "+data.sprice);
                                $("#quantity").html(data.quantity+" Items");
                                save = data.pprice-data.sprice
                                p = Math.round(100-((data.sprice/data.pprice)*100))
                                $("#saved").html("&#8377; "+save+"<span class='text-success'> ("+p+"%)</span>");
                                $("#grand_total").html("&#8377; "+data.sprice);
                                $("#btnprice").html(" &#8377; "+data.sprice);
                            }
                        })
                    }
                    cart_details()

                    function change_quantity(id,action){
                        let old = parseInt($("#cart"+id).val());
                        quantity = 0
                        if (action == "plus"){
                            quantity += old+1
                        }else{
                            quantity += old-1
                        }
                        $("#cart"+id).val(quantity);

                        $.ajax({
                            url:"{% url 'update_quantity' %}",
                            type:"get",
                            data:{cid:id,quantity:quantity},
                            success:function(data){
                                cart_details()
                                if (data == 0){
                                    remove_cartproduct(id);
                                }
                            }
                        })

                    }

                    function remove_cartproduct(id){
                        $.ajax({
                            url:"{% url 'update_quantity' %}",
                            type:"get",
                            data:{delete:id},
                            success:function(data){
                                cart_details()
                                $("#row"+id).hide();
                            }
                        })
                    }
                    
                </script>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="container-fluid p-0">
            <div class="row py-2 bg-dark">
                <div class="col-md-12 py-5 bg-dark text-light">
                    <h4 class="text-center">Login Required</h4>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

{% endblock %}