{% extends "dashboard_base.html" %}
{% block head %}
<style>
    .circle{
        border: 5px solid ; border-radius: 50%; height: 8px; width: 8px;position:absolute;
    }
    .line{
        background-color: rgb(202, 202, 202);
    }
</style>
{% endblock %}

{% block dashboard %}
<div class="container-fluid p-0">
    <div class="row py-2 bg-dark">
        <div class="col-md-12 py-5 bg-dark text-light">
            <h4 class="text-center">My Orders({{my_orders|length}})</h4>
        </div>
    </div>
    {% if my_orders|length == 0 %}
    <div class="alert alert-danger my-4">
        <h4 class="text-center">&times; No Orders Found!</h4>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-11 mx-auto my-3 alert" style="background-color: rgb(242, 242, 242);">
            {% for i in my_orders %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="card mb-3 mt-3">
                            <div class="card-body">
                                <div class="row">
                                    {% for j in i.products %}
                                    <div class="col-md-12 p-0 py-2" >
                                        <div class="col-md-4">
                                            <div class="float-left">
                                                <img src="/media/{{j.product.product_image}}" height="75px" width="90px">
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="padding-right: 2px;">
                                            <div class="text-dark" style="padding-left:110px; margin-top:-6px">
                                                <a href="{% url 'product_details' %}?pid={{j.product.id}}" class="nav-link p-0" ><p style="font-size: 14px; font-weight:600 ">{{j.product.product_name}}</p></a><br>
                                            </div>
                                            <div style="padding-left:110px;margin-top:-35px;">
                                                <p style="font-size: 13px;font-weight:600;color:gray">Sale Price  &#8377 {{j.sale_price}}</p>
                                            </div>
                                            <div style="padding-left:110px;margin-top:-18px;">
                                                <p style="font-size: 13px;font-weight:600;color:gray">Quantity  {{j.items}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" >
                        <div class="card mb-3 mt-3">
                            {% if i.status %}
                                <div class="card-header text-center text-success p-2">
                                    <i class="fa fa-circle"></i><b class="text-success"> Order Success</b >
                                </div>
                            {% else %}
                                <div class="card-header text-danger text-center p-2">
                                    <i class="fa fa-circle"></i><b class="text-danger"> Order Cancelled</b >
                                </div>
                            {% endif %}
                            <div class="card-body py-0">
                                <div class="col-md-12 p-0 py-2" >
                                    <div class="col-md-6">
                                        <div class="float-left">
                                            <p style="font-size: 13px;font-weight:600;color:black">Order id</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">Invoice</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">Total Items</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">Total Cost</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">Processed On</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="padding-right: 2px;">
                                        <div class="text-dark" style="padding-left:110px;margin-top:-2px;">
                                            <p style="font-size: 13px;font-weight:600;color:black">{{i.order_id}}</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">{{i.invoice}}</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">{{i.quantity}}</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">{{i.sale_price}}</p>
                                            <p style="font-size: 13px;font-weight:600;color:black">{{i.date}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="line">
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}



