{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-3">
            <div class="col-md-6 mx-auto p-3 text-center" style="box-shadow: 0px 0px 20px gray;">
                <img src="{% static 'images/sucess.gif' %}" height="400px" width="500px">
                <h4 class="alert alert-success">PAYMENT SUCCESSFULL</h4>
                <a href="{% url 'mycart' %}"><button class="btn btn-success mr-4">Continue Shopping</button></a>
                <a href="{% url 'dashboard' %}"><button class="btn btn-primary">Go To Dashboard</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
