{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-5">
            <div class="col-md-6 mx-auto p-5 text-center" style="box-shadow: 0px 0px 20px gray;">
                <h1 class="text-warning">Click Here To Continue</h1>
                    {{form.render}}
            </div>
            
        </div>
    </div>
</div>


{% endblock %}