{% extends 'base.html' %}

{% block content %}
<style>
    th{
        width: 35%;
    }
</style>

<div class="container-fluid p-0">
    <div class="row bg-info">
        <div class="col-md-12 py-5" style="background: rgba(0,0,0,0.5);">
            <h1 class="text-center text-light">Product Details</h1>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-md-8 px-1">
            <div class="px-2">
                <img src="/media/{{product.product_image}}" style="height: 350px; width:480px" class="img-fluid">
            </div>
            <div class="py-4 px-2">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Product Id</th>
                            <td>{{product.id}}</td>
                        </tr>
                        <tr>
                            <th>Product Name</th>
                            <td style="font-weight: bold;">{{product.product_name}}</td>
                        </tr>
                        <tr>
                            <th>Market Price</th>
                            <td><del>&#8377 {{product.product_price}}</del></td>
                        </tr>
                        <tr>
                            <th>Offered Price</th>
                            <td>&#8377 {{product.sale_price}}
                                <script>
                                    let mp = ("{{product.product_price}}");
                                    let sp = ("{{product.sale_price}}");
                                    let dis = 100-((sp/mp)*100);
                                    let save = mp-sp
                                    document.write("<strong class='text-danger'>("+Math.round(dis,2)+"%)</strong>","<br><small style='color:rgb(255, 132, 0); font-size:13px; font-weight:bold;'> Save &#8377;"+" "+save+"/-</small>")
                                </script>
                            </td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <p class="px-3" style="margin-top: -25px; text-align:justify; margin-bottom:30px">{{product.details}}</p>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        
                    {% else %}
                        <form action="{% url 'mycart' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{product.id}}" name="pid">
                            <input type="hidden" value="1" name="quantity">
                            <button type="submit" class="btn btn-success btn-block">
                                <i class="fa fa-shopping-cart"></i>
                                Add To Cart
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Seller Details</h4>
                </div>
                <div class="card-body p-1">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>First Name</th>
                                    <td>{{product.seller.first_name}}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td>{{product.seller.last_name}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{product.seller.email}}</td>
                                </tr>
                                <tr>
                                    <th>Member Since</th>
                                    <td>{{product.seller.date_joined}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <h4 class="alert alert-secondary" style="margin-top: 37px;">Category Details</h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th>Category Id</th>
                        <td>{{product.product_category.id}}</td>
                    </tr>
                    <tr>
                        <th>Category Image</th>
                        <td><img src="/media/{{product.product_category.cover_pic}}" height="100px" width="120px"></td>
                    </tr>
                    <tr>
                        <th>Category Name</th>
                        <td>{{product.product_category.cat_name}}</td>
                    </tr>
                    <tr>
                        <th>Category Description</th>
                        <td>{{product.product_category.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
