{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- <style>
    input,select{
        box-shadow: none!important;
    }
    input:active, input:focus, select:active, select:focus{
        border-color: rgb(181, 0, 181)!important;
    }
</style> -->
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-6 p-0" style="background:url('/static/images/lap.jpg'); background-size:100% 100%">
            <div class="" style="background: rgba(0,0,0,0.7);height:100%;">

            </div>
        </div>
        <div class="col-md-6">
            <h1 class="text-center py-2">Sign Up Here</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>First Name</label>
                            <input type="text" class="form-control" placeholder="Enter First Name" name="fname" required>
                        </div>
                        <div class="col-md-6">
                            <label>Last Name</label>
                            <input type="text" class="form-control" placeholder="Enter Last Name" name="lname" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Username&nbsp&nbsp</label><small style="font-size: 15px; font-weight:550 " id="result"></small>
                    <input type="text" class="form-control" placeholder="Enter Username" name="uname" id="username" onkeyup="checkuser()" required>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="Enter Password" name="password" required pattern="{6}">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Contact Number</label><small style="font-size: 15px; font-weight:550 " id="cont_result"></small>
                            <input type="text" class="form-control" placeholder="Enter Contact Number" name="contact" pattern="[0-9]{10}" title="Number must contain 10 digits only" required>
                        </div>
                        <div class="col-md-6">
                            <label>User Type</label>
                            <select class="form-control" name="utype" required>
                                <option value="cust">I'am Customer</option>
                                <option value="sell">I'am Seller</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group py-2">
                    <input type="submit" class="btn btn-success" value="Sign Up" id="submitbtn" style="width: 100%;">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function checkuser(){
        let un = document.getElementById("username").value;
        $.ajax({
            url:"{% url 'check_user' %}",
            type:"get",
            data:{usern:un},
            success:function(data){
                if (data=="exists"){
                    $("#result").html("This username already taken").addClass("text-danger");
                    $("#username").addClass("border-danger alert-danger");
                    $("#submitbtn").attr("disabled","disabled");
                }else{
                    $('#result').html("");
                    $("#username").removeClass("border-danger alert-danger");
                    $("#submitbtn").removeAttr("disabled","disabled");
                }
            }
        })
    }
</script>

{% if status %}
    <script>
        alert("{{status}}");
        window.location="signup"
    </script>
{% endif %}
{% endblock %}