{% extends 'dashboard_base.html' %}

{% block dashboard %}

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-12 bg-info text-light py-3">
            <h3 class="text-center">Send Mail</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-3 bg-light my-5 mx-auto" style="box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.234);">
            <form method="post">
                {% csrf_token %}
                {% if msg %}
                <div class="alert {{color}} text-center">{{msg}}</div>
                {% endif%}
                <div class="form-group">
                    <label>To</label>
                    <input type="text" class="form-control" name="to" placeholder="To">
                </div>
                <div class="form-group">
                    <label>Subject</label>
                    <input type="text" class="form-control" name="sub" placeholder="Subject">
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control" name="msg" placeholder="Enter Your Message" rows="5"></textarea>
                </div>
                <div class="form-group">
                    
                    <input type="submit" class="btn btn-outline-primary" style="border-radius: 20px;" value="Send Email">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}