{% extends 'dashboard_base.html' %}
{% block dashboard %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-md-8 mx-auto py-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Update Product Details</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <img src="/media/{{product.product_image}}" height="200px" width="240px">
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Product Image</label>
                            </div>
                            <div class="col-md-6">
                                <input type="file" class="btn btn-light" name="pimg" value="Upload File"> 
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Product Name</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="pname" value="{{product.product_name}}"> 
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Product Category</label>
                            </div>
                            <div class="col-md-6">
                                <select class="form-control" name="pcategory">
                                    {% for c in category %}
                                        {% if c.id == product.product_category.id%}
                                        <option value="{{c.id}}" selected>{{c.cat_name}}</option>
                                        {% else %}
                                        <option value="{{c.id}}">{{c.cat_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Product Price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="pp" value="{{product.product_price}}">
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Sale Price</label>
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" name="sp" value="{{product.sale_price}}">
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <label>Details</label>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" name="pdetails" rows="5">{{product.details}}</textarea>
                            </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6">
                                <input type="submit" class="btn btn-warning" value="Save Changes">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% if msg %}
<script>
    alert("{{msg}}");
    window.location="/update_product?pid={{pid}}"
</script>
{% endif %}
{% endblock %}